################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dima.Core/Dima.Core.csproj
/.vs